.rock{
  display:block;
  background: url('/images/icon-rock.svg') no-repeat;
  background-color: white;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 10px solid hsl(349, 71%, 52%);
}

.paper{
  display:block;
  background: url('/images/icon-paper.svg') no-repeat;
  background-color: white;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 10px solid hsl(230, 89%, 62%);
}

.scissors{
  display:block;
  background: url('/images/icon-scissors.svg') no-repeat;
  background-color: white;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 10px solid hsl(39, 89%, 49%);
}

.lizard{
  display:block;
  background: url('/images/icon-lizard.svg') no-repeat;
  background-color: white;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 10px solid hsl(261, 73%, 60%);
}

.spock{
  display:block;
  background: url('/images/icon-spock.svg') no-repeat;
  background-color: white;
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 10px solid hsl(189, 59%, 53%);
}
